// Place all the styles related to the Api::Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-card-container {
  position: relative;
  display: block;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 236px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.board-card-title {
  font-size: 20px;
}
