// Place all the styles related to the Api::Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-card-container {
  position: relative;
  display: block;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 236px;
  height: 450px;
  padding: 10px;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.board-card-title {
  font-size: 20px;
}

.board-pin-info {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 35px;
  align-items: baseline;
  justify-content: space-between;
}

.new-board-container {
  padding-right: 57px;
  font-size: 23px;
  color: #A8A8A8;
}

.new-board-container:hover {
  cursor: pointer;
}

.board-pin-info-titles {
  display: flex;
  align-items: baseline;
}

.board-pin-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.board-pin-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding-left: 15px;
}
