.new-board-form {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    font-family: 'Source Sans Pro', sans-serif;
}

.board-title {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}


input[type="text"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

input[type="submit"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #E8095D;
  border-bottom: 2px solid #D60856;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

input[type="submit"]:hover {
  background: #D60856;
}
