// Place all the styles related to the Api::Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-pin {
  position: relative;
  height: auto;
// width: auto;
  width: 300px;
// max-height: 300px;
  padding: 5px;
}


.pin-image:hover {
  filter:brightness(70%);
}

.pin-info .pin-title {
  position: absolute;
  display: none;

}
.pin-info .pin-description {
  position: absolute;
  display: none;

}

.pin-info:hover .pin-title {
  width: 100%;
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: white;
  filter: brightness(100%);
  z-index: 1;
}
