.navbar {
  top: -20px;
  height: 4000px;
  width: 268px;
  position: fixed;
  background-color: #ebebeb;
  left: -220px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

 .fa-bars {
  color: rgb(74, 74, 74);
  position: absolute;
  right: 17px;
  top: 25px;
  z-index: 2;
  color: black;
}

.navbar:hover {
  left: 0;
}

.menu-links {
  text-align: center;
  padding-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}

.menu-item {
  padding-top: 50px;
}

#grey-board-title {
  color: grey;
}
